.project-page-title {
  margin-bottom: 36px;
}
#projects-container {
  margin-top:100px;
  .row{
    //padding:50px;
  }
  .project-picture {
    height: 300px;
    width: 100%;
    margin: auto;
    img{
      max-width:100%;
      max-height:100%;
    }
  }
  #rollcallImg {
    //background: url('http://gdurl.com/PpOI') no-repeat;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }
}

