<!--FontAwesome Style MaxCDN-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--END FontAwesome Style MaxCDN-->
<!--Start of MAIN.HTML-->
<!-- START Jumbotron -->
<div class="jumbotron jumbotron1">
  <img src="images/graduation-photo_circular.png" alt="Anthony Powell image" width="250px" class="img-circle">
  <div class="hero">
    <h1>Powell, Anthony</h1>
    <h4 class="lead">
      Texas Southern University '16. Computer Science/Political Science major.
    </h4>
    <ul class="list-unstyled list-inline">
      <li>
        <div class="hvr-float-shadow">
          <a href="https://github.com/antpowell"><i class="fa fa-github-square fa-3x"></i></a>
        </div>
      </li>
      <li>
        <div class="hvr-float-shadow">
          <a href="https://www.facebook.com/anthony.powell1"><i class="fa fa-facebook-square fa-3x"></i></a>
        </div>
      </li>

      <li>
        <div class="hvr-float-shadow">
          <a href="https://www.linkedin.com/in/anthony-powell-a72ba395"><i class="fa fa-linkedin-square fa-3x"></i></a>
        </div>
      </li>
      <li>
        <div class="hvr-float-shadow">
          <a href="mailto:powell.anthony.e@gmail.com"><i class="fa fa-inbox fa-3x"></i></a>
        </div>
      </li>
    </ul>
    <div class="down-arrow hvr-hang">
      <a href="#skills" class="down-arrow">
        <i class="fa fa-arrow-down fa-2x"></i>
      </a>
    </div>
  </div>
</div>

<!-- END Jumbotron -->

<div class="jumbotron jumbotron2">
  <div class="roll-over-imgs">
    <div class="col-sm-4" width="auto" height="475px" id="class">
    </div>
    <div class="col-sm-4" id="code">
    </div>
    <div class="col-sm-4 " id="combat"></div>
  </div>
  <div class="row marketing ">

    <div class="container">
      <h2>About Me</h2>
      <p class="">
        I am a proud graduate of <a href="http://tsu.edu/academics/colleges-and-schools/coset/">Texas Southern
        University</a>, where I received a BS in Computer Science. During my undergraduate studies I co-founded Texas Southern University's
        Mobile Application Development Group and lead it in becoming the largest Computer Science organization on campus. The organization
        was developed to be a place where students could practice and sharpen their programming skills on real world
        problems in preparation for future employment, entrepreneurial endeavors, and post-graduate studies.</p>
        <p>
        urrently I am pursuing a Graduate Degree in Computer Science with a strong interest in Software Engineering, algorithms, and software solution for improving the public education system. I work as a Graduate Student Researcher at TSU, as a student project manager, and lead developer in the
        <a href="http://coset.tsu.edu/crest/">Center for Research on Complex Networks </a> Education and
          Outreach section.</p> <p>I am also a Sergeant in the Texas Army National Guard where I have served my country and
        community for the last nine years.
      </p>
      <!--<p class="lead">-->
      <!--I am a Graduate Researcher at <a href="http://tsu.edu/academics/colleges-and-schools/coset/">Texas Southern University</a>-->
      <!--studying Computer Science with a strong interest in Software Engineering. I am currently the project manager and lead developer for an attendance tracking application that is being utilized by Texas Southern University's College of Science, Engineering and Technology. I am also a Military Police Investigator Sergeant, specializing in Non-Lethal Weapons, in the Texas Army National Guard in a-->
      <!--Team Leader Position. I co-founded Texas Southern University's Mobile Application-->
      <!--Development Group during my undergraduate studies where I was president for two years. The organization was developed to be a place where students could practice and sharpen their programming skills on real world problems.-->
      <!--</p>-->

    </div>
  </div>
</div>
<div class="jumbotron jumbotron3">
  <div class="container-fluid">
    <div class="skills row">
      <h2><a name="skills">Skills</a></h2>
      <div class="container">
        <div class="col-md-8 col-md-push-2">
          <div class="progress-bar-section">
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                   aria-valuemax="100" style="width: 80%" id="photoshop-progress-bar">
                <span>Photoshop 80%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                   aria-valuemax="100" style="width: 85%" id="html/css/js-progress-bar">
                <span>HTML/CSS/JS 85%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                   aria-valuemax="100" style="width: 65%" id="java-progress-bar">
                <span>Android/Java 65%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                   aria-valuemax="100" style="width: 70%" id="illustrator-progress-bar">
                <span>Illustrator 70%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-github" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                   aria-valuemax="100" style="width: 60%" id="github-progress-bar">
                <span>GitHub 60%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-excel" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                   aria-valuemax="100" style="width: 75%" id="vba-progress-bar">
                <span>Excel VBA 75%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project row">
      <h4>Projects</h4>
      <div class="mock-ups">
        <div class="col-md-4 hidden-sm hidden-xs" id="PF-mockup">
          <a ng-href="#/projects"><img class="img-responsive" src="images/iMacPocketFightersPCmockup.png"
                                       alt="" width="70%"></a></div>
        <div class="col-md-4 hidden-sm hidden-xs" id="PF2-mockup">
          <a ng-href="#/projects"><img class="img-responsive" src="images/iMacPocketFighters2PCmockup.png"
                                       alt="" width="70%"></a></div>
        <div class="col-md-4 hidden-sm hidden-xs" id="BIT-mockup">
          <a ng-href="#/projects"><img class="img-responsive" src="images/iMac-BlacksInTechnologyMockUp.png"
                                       alt="" width="70%"></a></div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron4">
  <div class="container">
    <div class="resume row">
      <!--<img src="../images/nodejs_debugsession.png" alt="">-->
      <h2>Resume?</h2>
      <a href="#/resume">
        <div class="btn btn-success btn-lg">View</div>
      </a>
      <span class="lead">OR</span>
      <a href="https://drive.google.com/uc?export=download&id=0BzT8Z6UzZ4zmRFFGM19wdTRGelE">
        <div class="btn btn-success btn-lg">Download</div>
      </a>
    </div>
  </div>
</div>
<!--FontAwesome Script BootstrapCDN-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<!--END FontAwesome Script BootstrapCDN-->

<!--https://drive.google.com/file/d/0BzT8Z6UzZ4zmRFFGM19wdTRGelE/view?usp=sharing-->
