<!--FontAwesome Style MaxCDN-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--END FontAwesome Style MaxCDN-->
<!--Start of MAIN.HTML-->
<!-- START Jumbotron -->
<div class="jumbotron jumbotron1">
  <img src="../images/Raptor_Ball.jpg" alt="Anthony Powell image" width="250px" class="img-circle">
  <div class="hero">
    <h1>Powell, Anthony</h1>
    <h4 class="lead">
      Texas Southern University '16. Computer Science/Political Science major.
    </h4>
    <ul class="list-unstyled list-inline">
      <li>
        <div class="hvr-float-shadow">
          <a href="https://github.com/antpowell"><i class="fa fa-github-square fa-3x"></i></a>
        </div>
      </li>
      <li>
        <div class="hvr-float-shadow">
          <a href="https://www.facebook.com/anthony.powell1"><i class="fa fa-facebook-square fa-3x"></i></a>
        </div>
      </li>

      <li>
        <div class="hvr-float-shadow">
          <a href="https://www.linkedin.com/in/anthony-powell-a72ba395"><i class="fa fa-linkedin-square fa-3x"></i></a>
        </div>
      </li>
      </li>
      <li>
        <div class="hvr-float-shadow">
          <a href="mailto:powell.anthony.e@gmail.com"><i class="fa fa-inbox fa-3x"></i></a>
        </div>
      </li>
    </ul>
    <div class="down-arrow hvr-hang">
      <a href="#skills" class="down-arrow">
        <i class="fa fa-arrow-down fa-2x"></i>
      </a>
    </div>
  </div>
</div>

<!-- END Jumbotron -->

<div class="jumbotron jumbotron2">
  <div class="roll-over-imgs">
    <div class="col-sm-4" width="auto" height="475px" id="class">
    </div>
    <div class="col-sm-4" id="code">
    </div>
    <div class="col-sm-4 " id="combat"></div>
  </div>
  <div class="row marketing ">

    <div class="container">
      <h2>About Me</h2>
      <p class="lead">
        I am a senior at <a href="http://tsu.edu/academics/colleges-and-schools/coset/">Texas Southern University</a>
        studying Computer Science. I currently work as a student worker teaching middle and high school kids how to
        create Android applications, and a Military Police Investigator Seargent in the Texas Army National Guard in a
        Team Leader Position. I am also the founder and president of Texas Southern University's Mobile Application
        Development Group where we practice and sharpen our skills on real world problems.
      </p>

    </div>
  </div>
</div>
<div class="jumbotron jumbotron3">
  <div class="container-fluid">
    <div class="skills row">
      <h2><a name="skills">Skills</a></h2>
      <div class="container">
        <div class="col-md-8 col-md-push-2">
          <div class="progress-bar-section">
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                   aria-valuemax="100" style="width: 75%" id="photoshop-progress-bar">
                <span>Photoshop 75%</span>
              </div>
            </div>
            <div class="progress">
              <div class="pregress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                   aria-valuemax="100" style="width: 65%" id="html/css/js-progress-bar">
                <span>HTML/CSS/JS 65%</span>
              </div>
            </div>
            <div class="progress">
              <div class="pregress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                   aria-valuemax="100" style="width: 60%" id="java-progress-bar">
                <span>Android/Java 60%</span>
              </div>
            </div>
            <div class="progress">
              <div class="pregress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                   aria-valuemax="100" style="width: 50%" id="illustrator-progress-bar">
                <span>Illustrator 50%</span>
              </div>
            </div>
            <div class="progress">
              <div class="pregress-bar progress-bar-github" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                   aria-valuemax="100" style="width: 45%" id="github-progress-bar">
                <span>GitHub 45%</span>
              </div>
            </div>
            <div class="progress">
              <div class="pregress-bar progress-bar-excel" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                   aria-valuemax="100" style="width: 45%" id="vba-progress-bar">
                <span>Excel VBA 45%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project row">
      <h4>Projects</h4>
      <div class="mock-ups">
        <div class="col-md-4 hidden-sm hidden-xs" id="PF-mockup">
          <img class="img-responsive" src="../images/iMacPocketFightersPCmockup.png"
               alt="" width="70%"></div>
        <div class="col-md-4 hidden-sm hidden-xs" id="PF2-mockup">
          <img class="img-responsive" src="../images/iMacPocketFighters2PCmockup.png"
               alt="" width="70%"></div>
        <div class="col-md-4 hidden-sm hidden-xs" id="BIT-mockup">
          <img class="img-responsive" src="../images/iMac-BlacksInTechnologyMockUp.png"
               alt="" width="70%" ></div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron4">
  <div class="container">
    <div class="resume row">
      <!--<img src="../images/nodejs_debugsession.png" alt="">-->
      <h2>Resume?</h2>
      <a href="#/resume">
        <div class="btn btn-success btn-lg">View</div>
      </a>
      <span class="lead">OR</span>
      <div class="btn btn-success btn-lg">Download</div>
    </div>
  </div>
</div>
<!--FontAwesome Script BootstrapCDN-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<!--END FontAwesome Script BootstrapCDN-->
