<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects | Anthony Powell</title>
</head>
<body>
<div class="hero">tester</div>
<h1 class="col-sm-12 featurette-heading text-center project-page-title">Projects</h1>

<div class="container-fluid" id="projects-container">
  <div id="project1" class="row">
    <div>img</div>
    <div id="project1-text" class="text-right col-md-4 col-md-push-1">
    <h2>Title</h2>
    <p><mdall class="text-muted">Date</mdall></p>
    <p class="lead">Brief description of project. Who, What, When, Where, Why.</p>
  </div></div>


  <div id="project2" class="row">
    <div>img</div>
    <div id="project2-text" class="text-left col-md-4 col-md-push-1">
      <h2>Title</h2>
      <p><mdall class="text-muted">Date</mdall></p>
      <p class="lead">Brief description of project. Who, What, When, Where, Why.</p>
    </div></div>


  <div id="project3" class="row">
    <div>img</div>
    <div id="project3-text" class="text-right col-md-4 col-md-push-1">
      <h2>Title</h2>
      <p><mdall class="text-muted">Date</mdall></p>
      <p class="lead">Brief description of project. Who, What, When, Where, Why.</p>
    </div></div>


  <div id="project4" class="row">
    <div>img</div>
    <div id="project4-text" class="text-left col-md-4 col-md-push-1">
      <h2>Title</h2>
      <p><mdall class="text-muted">Date</mdall></p>
      <p class="lead">Brief description of project. Who, What, When, Where, Why.</p>
    </div></div>

</div>




</body>
</html>
