<link rel="stylesheet" href="../styles/project.css">

<h1 class="col-sm-12 featurette-heading text-center project-page-title header">Projects</h1>

<div class="container-fluid text-center" id="projects-container">
  <div id="rollcall-project" class="col-md-4 col-xs-12 col-sm-6">

    <div class="project-picture">
      <img id="rollcallImg" src="http://gdurl.com/PpOI">
    </div>
    <div id="project1-text" class="col-md-12 ">
      <h2>RollCall Mobile Apps <br>
        <small>(Android & iOS)</small>
      </h2>
      <p>
        <mdall class="text-muted">2013-Current</mdall>
      </p>
      <p class="lead">Roll Call is the companion application for an attendance system at Texas Southern University. This
        app is in operation in over 10 classrooms and assist more than 500 students. </p>

      <a href="https://play.google.com/store/apps/details?id=com.egmail.anthony.powell.roll_call_2&hl=en"
         class="btn btn-primary">Click
        to view on Google Play Store</a>
    </div>
  </div>

  <div id="bit-project" class="col-md-4 col-xs-12 col-sm-6">
    <div class="project-picture"><img src="../images/iMac-BlacksInTechnologyMockUp.png" alt=""></div>
    <div id="project2-text" class="col-md-12">
      <h2>Blacks In Technology <br>
        <small>Pactice Mock Up</small>
      </h2>
      <p>
        <mdall class="text-muted">2015</mdall>
      </p>
      <p class="lead">By request and for practice, Blacks In Technology is a mock up for a website redesign. Leveraging
        HTML5, CSS3, JADE, SCSS, Angular, Bootstrap, and other tools this site takes a modern look and holds true to
        responsive concepts.</p>
      <a href="http://antpowell.github.io/Blacks-In-Tech" class="btn btn-primary">Click to view site</a>
    </div>
  </div>

  <div id="jsLinkedList" class="col-md-4 col-xs-12 col-sm-6">
    <div class="project-picture"><img id="jsLinkListImg" src="../images/iMac-js-linked-list.png"></div>

    <div id="project3-text" class="col-md-12">
      <h2>Javascript Linked List Example</h2>
      <p>
        <mdall class="text-muted">2016</mdall>
      </p>
      <p class="lead">Expanding on AngularJS's Factory this site helps student visualize how a Linked List might work.
        Hosted using Heroku via Github, uptime may vary.</p>
      <a href="https://js-linkedlist-sumulation.herokuapp.com" class="btn btn-primary">Click to view site</a>
    </div>
  </div>


  <!--<div id="project4" class="row">-->
  <!--<div>img</div>-->
  <!--<div id="project4-text" class="text-left col-md-4 col-md-push-1">-->
  <!--<h2>Title</h2>-->
  <!--<p>-->
  <!--<mdall class="text-muted">Date</mdall>-->
  <!--</p>-->
  <!--<p class="lead">Brief description of project. Who, What, When, Where, Why.</p>-->
  <!--</div>-->
  <!--</div>-->

</div>
