<link rel="stylesheet" href="../styles/resume.css">

<div class="container resume">
  <section id='professinal-profile'>
    <h2>Objective</h2>
    <hr>
    <p id='obj-body'>Seeking
      to obtain an internship working with software engineers that will strengthen my design, front-end development, and
      programming skills.</p>
  </section>
  <section id='education'>
    <h2>Education</h2>
    <hr>
    <h4>MAJOR: COMPUTER SCIENCE/POLITICAL SCIENCE <br>TEXAS SOUTHERN UNIVERSITY</h4>
    <p>Expected Graduation Date: December 2016</p>
    <!--<h4>BACHELORS: COMPUTER SCIENCE / POLITICAL SCIENCE | 2016| TEXAS SOUTHERN UNIVERSITY</h4>-->
    <!--<p>Major: Computer Science/ Political Science</p>-->
  </section>
  <section id='skills-abilities'>
    <h2>Skills & Abilities</h2>
    <hr>
    <h4>PROGRAMMING EXPERIENCE</h4>

    <table class="table table-responsive">

      <tbody>
      <tr>
        <th scope="row">HTML/CSS/JS</th>
        <td>Developed front end web page for Texas Southern University’s Health Professions Pathway Career Center,
          Blacks in Technology, and personal resume webpage.
        </td>
      </tr>
      <tr>
        <th>ANDROID</th>
        <td>
          <p>Developed and published native android attendance tracking application for Texas Southern University.</p>
          <p>Teach middle school, high school, and undergrad students how to develop android
            applications. </p>
        </td>
      </tr>
      <tr>
        <th>EXCEL VBA</th>
        <td>Developed backend for attendance taking applications for Texas Southern University.</td>
      </tr>
      <tr>
        <th>SWIFT</th>
        <td>Developed and published native iOS attendance taking application for Texas Southern University.</td>
      </tr>
      <tr>
        <th>ADDITIONAL SKILLS</th>
        <td>Git, C++, jQuery, Jade, Sass, MEAN Stack, SQL</td>
      </tr>
      </tbody>
    </table>
    <hr>

    <h4>SOFTWARE PROFICIENCIES</h4>
    <ul class="list-unstyled list-inline">
      <li>Android Studio</li>
      <li>xCode</li>
      <li>Adobe Creative Suite</li>
      <li>JetBrains</li>
      <li>XAMPP</li>
      <li></li>
    </ul>
  </section>
  <section class="work-experience">
    <h2>Work Experience</h2>
    <hr>
    <h4>NSF Center of Research Excellence in Science and Technology Research Assistance | 2013-Current | Texas Southern
      University</h4>
    <ul class="list-unstyled">
      <li><strong>Texas Southern University NSF CREST Assistantship </strong>
        <small>(Education Outreach)</small>
        <ul>
          <li>Research and test pedagogy that incorporate computing into all STEM fields starting at a middle school
            level.
          </li>
          <li>Manage and delegate a team of students in development of software that will be used by professors and
            students throughout Texas Southern University.
          </li>
          <li>Work in group to develop mobile application for students and teachers to communicate under mentor, Dr.
            Oscar H. Criner, Professor and Interim Associate Dean for Administration and Development at Texas Southern
            University, supervision.
          </li>
        </ul>
      </li>
    </ul>

    <h4>Non-Commissioned Officer | 2008-Current | Texas Army National Guard</h4>
    <ul class='list-unstyled'>
      <li><strong>Military Police Investigator</strong>
        <ul>
          <li>Analyze evidence using sound judgment and problem solving skills to obtain accurate evidence in support of
            unit readiness.
          </li>
          <li>Utilize critical thinking and reasoning to build and present command element with logical courses of
            action.
          </li>
        </ul>
      </li>
      <li><strong>Team Leader</strong>
        <ul>
          <li>Lead and supervise military police team and sections in support of battle field operations.</li>
        </ul>
      </li>
    </ul>

  </section>


  <section id='extra-curricular-involvement'>
    <h2>Extra-Curricular Involvement</h2>
    <hr>
    <ul class="list-unstyled">
      <li>Founder and President, Texas Southern University Mobile Application Development Group</li>
      <li>Member, National Society of Black Engineers</li>
      <li>Member, Institute of Electrical and Electronics Engineers</li>
    </ul>
  </section>
</div>
