
<link rel="stylesheet" href="styles/resume.css">

   <div class="container">
    <section id='professinal-profile'>
        <h2>Objective</h2>
      <hr>
        <p id='obj-body'>Current undergraduate in computer science and a year and a half of programming experience. Seeking to obtain an internship working with software engineers that will strengthen my design, front-end development, and programming skills. I believe my strong problem-solving skills and proficiency of the core components of programming will provide solid support to any organization, group, or team.</p>
    </section>
    <section id='education'>
        <h2>Education</h2>
        <h4>BACHELORS: COMPUTER SCIENCE / POLITICAL SCIENCE | 2016| TEXAS SOUTHERN UNIVERSITY</h4>
        <p>Major: Computer Science/ Political Science</p>
    </section>
    <section id='skills-abilities'>
        <h2>Skills & Abilities</h2>
        <h4>PROGRAMMING EXPERIENCE</h4>
        <ul class='list-unstyled'>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>HTML5</li>
            <li>Jade</li>
            <li>CSS3</li>
            <li>SASS</li>
            <li>Java</li>
            <li>Android</li>
            <li>Swift</li>
            <li>GitHub</li>
            <li>C++</li>
            <li>Excel VBA</li>
        </ul>
        <h4>SOFTWARE EXPERIENCE</h4>
        <ul class="list-unstyled">
            <li>Android Studio</li>
            <li>xCode</li>
            <li>Adobe Creative Suite</li>
            <li></li>
        </ul>
        <h4>COMMUNICATION</h4>
        <ul class='list-unstyled'>
            <li>Mentor and teach middle school students to create their own Android applications.</li>
            <li>Obtainvaluable team communication skills workign in a group to develop mobile applications for the students and professors to communicate with one another under mentor, Dr. Oscar H. Criner, Professor and Interim Associate Dean for Administration and Development, supervision.</li>
        </ul>
        <h4>LEADERSHIP</h4>
        <ul class="list-unstyled">
            <li>President of Texas Southern Univeristy's Mobile Application Development Group</li>
            <li>Texas Army National Guard Noncommissioned Office</li>
        </ul>
    </section>
    <section id='experience'>
        <h2>Experience</h2>
        <h4>EDUCATIONAL OUTREACH UNDERGRADE RESEARCHER | TEXAS SOUTHERN UNIVERSITY | 2013-CURRENT</h4>
        <ul class="list-unstyled">
            <li>Teach middle and high school students fundamentals of logical systems and programming for the Android OS.</li>
            <li>Research and test pedagogy to incorporate computing into all STEM fields for grade school students.</li>
            <li>Manage and delegate a team of students in development of software that will be used by professors and students thoguhtout the university.</li>
        </ul>
        <h4>MILITARY POLICE INVESTIGATOR| TEXAS ARMY NATIONAL GUARD| 2008-CURRENT</h4>
        <ul class="list-unstyled">
            <li>Lead and supervise Military Police team and section in support of battlefield operations</li>
            <li>Investigate criminal violations of the Uniform Code of Military Justice (UCMJ) in matters of intrerest to the Armed Forces of the United States.</li>
            <li>Analyze evidence using sound judgment and problem solving skills to obtain accurate conclusions.</li>
            <li>Utilize critical thinking and reasoning to build and present command element with logical courses of action.</li>
        </ul>
    </section>
</div>
