<div class="container-fluid" id="under-construction">
  <div class="jumbotron">
    <div class="container">
      <h1>UNDER CONSTRUCTION</h1>
      <h3>Thank you for your interest, this page is currently under construction and will be available very soon.
        <br>
        <small>Please come back soon.</small>
      </h3>
      <p>
        <a href="#/main">
        <span class="fa-stack fa-lg">
        <i class="fa fa-frown-o fa-stack-1x fa-inverse"></i>
        <i class="fa fa-file-o fa-stack-2x "></i>

      </span>
        </a>

      </p>
    </div>
  </div>
</div>
